<div class="card-top container-fluid">
  <div class="container d-flex">
    <div class="item">
      <a> All products </a>
    </div>
    <div class="item">
      <a> Electronics </a>
    </div>
    <div class="item">
      <a> Fashion </a>
    </div>
    <div class="item">
      <a> Jewllery </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of productList">
      <div class="card col-md-3">
        <img class="img" src="{{ item.image }}" alt="{{ item.title }}" />
        <h5
          style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          "
        >
          {{ item.title }}
        </h5>
        <p
          style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          "
        >
          {{ item.description }}
        </p>
        <p>price: {{ item.price }}</p>
        <button class="btn btn-primary" (click)="addToCart(item)">
          Add to cart
        </button>
      </div>
    </ng-container>
  </div>
</div>
